<style>
    <%- include("../styles/wizard-tower.css"); %>
    <%- include("../styles/items-floor.css"); %>
    <%- include("../styles/user-floor.css"); %>
    <%- include("../styles/frog-floor.css"); %>
</style>

<section class="floor" id="frog">
    <h4>Frog Game</h4>
    <button id="toggle">Toggle</button>

    <div class="content invisible">
        <button id="new">Create New Game</button>

        <div class="mafia">
            <div class="game-selector">
            </div>

            <div class="game-info">
                <h3>Winner: None</h3>

                <h4>Date Started: 0/0/0</h4>

                <button>Increment Turn</button>
                <label for="auto-turn">Automatic Turns: </label><input type="checkbox" name="auto-turn" id="auto-turn">
                <label for="hour">Hour to Increment Turns: </label><input type="range" name="hour" id="hour" min=0 max=23>

                <div class="player-selector">

                </div>

                <div class="turn-list">
                    <p>Turn 0: X killed Y</p>
                </div>

                <button>Delete Game</button>
            </div>

            <div class="player-info">
                <h3>Name</h3>
                <h4>Role</h4>
                <h4>Status</h4>
                <button class="role">Townsperson</button>
                <button class="role">Mafia</button>
                <button class="role">Doctor</button>
                <button class="role">Dub</button>
                <button class="role">Dumb</button>

                <button class="kill">Kill</button>
                <button class="revive">Revive</button>
            </div>
        </div>
    </div>
</section>

<section class="floor" id="items">
    <h4>Items</h4>
    <button id="toggle">Toggle</button>

    <div class="content invisible">
        <div class="left">
            <input type="text" id="search" placeholder="filter list">
            <ul class="items">
        </div>

        </ul>
    
        <div class="editor">
            <div class="edit invisible">
                <h5>Item Name:</h5>
                <input type="text" id="name">
            
                <h5>Short Item Description:</h5>
                <textarea id="short" name="short" cols="30" rows="3"></textarea>
            
                <h5>Full Item Description:</h5>
                <textarea id="full" name="full" cols="30" rows="10"></textarea>

                <button id="cancel" onclick="itemFloor.cancelEdit()">Cancel</button>
                <button id="save" onclick="itemFloor.saveSelectedItem()">Save</button>
            </div>

            <div class="read">
                <h5 id="name">Item Name</h5>
            
                <h5>Short Item Description:</h5>
                <p id="short"></p>
            
                <h5>Full Item Description:</h5>
                <p id="full"></p>

                <button id="new" onclick="itemFloor.createNewItem()">Create New</button>
                <button id="edit" onclick="itemFloor.editSelectedItem()">Edit</button>
                <button id="delete" onclick="itemFloor.deleteSelectedItem()">Delete</button>
                <button id="refresh" onclick="itemFloor.updateItems()">Refresh List</button>
            </div>
        </div>
    </div>
</section>

<section class="floor" id="none">
    <h4>Floor 2</h4>
    <button id="toggle">Toggle</button>

    <div class="content invisible">

    </div>
</section>

<section class="floor" id="users">
    <h4>Users</h4>
    <button id="toggle">Toggle</button>

    <div class="content">
        <div class="global-info">
            <h5 id="population">Population: 0</h5>
            <h5>Active Today: -</h5>
        </div>
    
        <ul class="selector" id="user-list">
    
        </ul>
    
        <div class="user-info">
            <div class="read">
                <p class="name">Username: -</p>
                <p class="coin">Coin: -</p>
                <p class="auth">Auth Levels: -</p>
                <p class="home">Home: -</p>
                <p class="location">Location: -</p>
                <p class="attributes">Attributes: -</p>
                <p class="email">Email: -</p>
            </div>
            <div class="edit invisible">
                <h4>Username:</h4>
                <input type="text" class="name">
        
                <h4>Coin:</h4>
                <input type="text" class="coin">

                <h4>Auth Levels:</h4>
                <ul></ul>

            </div>
        </div>
    </div>
</section>

<hr>

<a href="/forest/pond/tower">Exit the Tower</a>

<script>
    <% if (user.authLevels.includes("Creator")) { %>
        <%- include("../local-scripts/inside.js"); %> 
        <%- include("../local-scripts/items.js"); %> 
        <%- include("../local-scripts/users.js"); %> 
    <% } %>
</script>