<%- include("../../../views/head.ejs"); %>

<style>
    <%- include("../styles/index.css"); %>
    <%- include("../styles/borders.css"); %>
</style>

<main>
    <div class="logo">N</div>

    <p>
        Before you is NotherBase, a large piece of land surrounded by
        a chain link fence. You see a shack and a fence that has a gate.
        There's not much else but a sign with some peculiar text:
    </p>

    <hr>

    <h6>NotherBase</h6>
    <h6>Est '21</h6>
    <h6>Ver 41</h6>
    <h6>By Nother</h6>

    <hr>

    <a class="to shack" href="/the-front/keeper">
        Approach the Shack
    </a>

    <a class="to gate" href="/the-front/gate">
        Approach the Gate
    </a>
    
    <%- //include("../../../views/chat-box.ejs", { room: "the-front" }); %> 
</main>

<script>
    let color = 0;
    let brightness = 15;

    $(".logo").on("click", function () {
        color += 2;
        if (color > 255) color = 0;

        brightness += 2;
        if (brightness > 255) brightness = 255;

        $("footer").css("background-color", `rgb(
                ${brightness * (color) / 255}, 
                ${brightness * (color % 2) / 255}, 
                ${brightness * (255 - color) / 255}
            )`
        );
    });
</script>

<%- include("../../../views/footer.ejs"); %>