<style>
    <%- include("./wizard-tower.css"); %>
    <%- include("./items-floor.css"); %>
    <%- include("./user-floor.css"); %>
    <%- include("./frog-floor.css"); %>
</style>

<p>
    The tower stands before you, wooden door locked.
</p>

<div class="tower">
    <section class="floor" id="items">
        <h4>Items</h4>
        <button id="toggle">Toggle</button>
    
        <div class="content invisible">
            <div class="left">
                <input type="text" id="search" placeholder="filter list">
                <ul class="items">
            </div>
    
            </ul>
        
            <div class="editor">
                <div class="edit invisible">
                    <h5>Item Name:</h5>
                    <input type="text" id="name">
                
                    <h5>Short Item Description:</h5>
                    <textarea id="short" name="short" cols="30" rows="3"></textarea>
                
                    <h5>Full Item Description:</h5>
                    <textarea id="full" name="full" cols="30" rows="10"></textarea>
    
                    <button id="cancel" onclick="itemFloor.cancelEdit()">Cancel</button>
                    <button id="save" onclick="itemFloor.saveSelectedItem()">Save</button>
                </div>
    
                <div class="read">
                    <h5 id="name">Item Name</h5>
                
                    <h5>Short Item Description:</h5>
                    <p id="short"></p>
                
                    <h5>Full Item Description:</h5>
                    <p id="full"></p>
    
                    <button id="new" onclick="itemFloor.createNewItem()">Create New</button>
                    <button id="edit" onclick="itemFloor.editSelectedItem()">Edit</button>
                    <button id="delete" onclick="itemFloor.deleteSelectedItem()">Delete</button>
                    <button id="refresh" onclick="itemFloor.updateItems()">Refresh List</button>
                </div>
            </div>
        </div>
    </section>
    
    <section class="floor" id="users">
        <h4>Users</h4>
        <button id="toggle">Toggle</button>
    
        <div class="content invisible">
            <div class="global-info">
                <h5 id="population">Population: 0</h5>
                <h5>Active Today: -</h5>
            </div>
        
            <ul class="selector" id="user-list">
        
            </ul>
        
            <div class="user-info">
                <div class="read">
                    <p class="name">Username: -</p>
                    <p class="coin">Coin: -</p>
                    <p class="auth">Auth Levels: -</p>
                    <p class="home">Home: -</p>
                    <p class="location">Location: -</p>
                    <p class="attributes">Attributes: -</p>
                    <p class="email">Email: -</p>
                    <button id="edit" onclick="userFloor.edit()">Edit</button>
                </div>
                <div class="edit invisible">
                    <h4>Username:</h4>
                    <input type="text" class="name">
    
                    <h4>Auth Levels:</h4>
                    <button onclick="userFloor.addAuth()">+</button>
                    <ul id="auth"></ul>
    
                    <button id="save" onclick="userFloor.save()">Save</button>
                    <button id="cancel"  onclick="userFloor.cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </section>

    <div id="cover"></div>
</div>

<p>
    "Blessed is the one who reads aloud the words of this prophecy, 
    hears it and takes to heart what is written in it, because the 
    time is near," is inscribed on the marble tablet embedded in 
    the center of the door.
</p>

<p id="extra"></p>

<hr>

<button class="to" id="knock">
    Knock on the Tower's Door
</button>

<hr>

<a class="to" href="/forest/eye/filter/wyatts-house">
    Go to Wyatt's House
</a>

<a class="to" href="/forest/eye/filter/pond">
    Go to the Pond
</a>

<a class="to" href="/forest/eye/keep">
    Go to the Keep
</a>

<hr>

<a class="return" href="/forest/eye/school">
    Return to the School
</a>

<a class="return" href="/forest/eye/inn">
    Return to the Inn
</a>

<script>
    $("#knock").on("click", function knock() {
        $("#extra").text("You knocked on the tower's door. Surely you've been heard.");
        $("#knock").toggleClass("invisible");
    });

    <% if (user.authLevels.includes("Creator")) { %>
        $("#knock").toggleClass("invisible");
        $("#cover").toggleClass("invisible");
        $(".floor button#toggle").on("click", function (e) {
            $(e.target.parentElement).find(".content").toggleClass("invisible");
        });
        <%- include("./items.js"); %> 
        <%- include("./users.js"); %> 
    <% } %>
</script>