<style>
    <%- include("./backyard.css"); %>
    <%- include("./index.css"); %>
    <%- include("./wallet.css"); %>
    <%- include("./calendar.css"); %>
</style>
<link rel="stylesheet" href="/styles/billboard.css">

<article>
    <section class="upstairs">
        <h4>Upstairs</h4>
        <button class="folder" onclick="upstairs.toggle(this)">v</button>
        <article class="agenda" id="upstairs"></article>
    </section>

    <section class="laylas-room">
        <h4>Layla's Room</h4>
        <button class="folder" onclick="laylasRoom.toggle(this)">v</button>

        <article>
            <div class="billboard" id="layla-skills">
                <h5>My Skills</h5>
            </div>
    
            <div class="basic">
                A flat-screen television.
            </div>
        
            <article class="toy-box">
                <h3>Toy Box</h3>
                <button class="folder" onclick="toyBox.toggle()">O</button>
                <hr>
                <article>
                    <div class="toy">
                        <img class="cat-idle" src="/img/misc/cat.png">
                        <div class="pocket"></div>
                    </div>
                
                    <div class="toy background-changer">
                        <img src="/img/the-front/logo.png">
                    </div>
                
                    <div class="toy">
                        <img class="rotato" src="/img/the-front/logo.png">
                    </div>
                
                    <div class="toy beautiful-button">
                        <div class="beautiful-background"></div>
                        <img class="beautiful-border" src="/img/the-front/logo-border.png">
                        <img class="beautiful-icon" src="/img/the-front/logo.png">
                    </div>
                </article>
            </article>
        </article>

    </section>

    <section class="livingroom">
        <h4>Livingroom</h4>
        <button class="folder" onclick="livingroom.toggle(this)">v</button>

        <article>
            <div class="closet">
                <div class="door">
                    <div class="knob" onclick="openCloset()"></div>
                </div>
            </div>
    
            <div class="bookshelf">
                <div class="shelf">
            
                </div>
                <hr>
                <div class="shelf">
                    
                </div>
                <hr>
                <div class="shelf">
                    
                </div>
            </div>
    
            <img class="painting" src="/img/misc/stake.png">
    
            <div class="basic end-table">
                A small table.
            </div>
        </article>
    </section>
</article>

<section class="porch">
    <div class="basic mailbox">
        A mailbox with the name "Sushinsky" on it.
    </div>
</section>

<div class="yard">
    <div class="sky">
        <h4>The Yard</h4>
        
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="sun"></div>
    </div>

    <div class="ground">
        <div class="tree">
            <div class="leaves"></div>
            <div class="trunk"></div>
        </div>
        <div class="weed">
            <div class="leaf"></div>
            <div class="leaf"></div>
            <div class="leaf"></div>
        </div>
    </div>
</div>

<hr>

<a class="go" href="/forest/eye/filter/tree-house">
    Climb up the nearby Tree House
</a>

<hr>

<a class="to" href="/forest/eye/filter/cave">
    Go to Cave
</a>

<a class="to" href="/forest/eye/filter/tower">
    Go to the Tower
</a>

<a class="to" href="/forest/eye/keep">
    Go to the Keep
</a>

<hr>

<a class="return" href="/forest/eye/library">
    Return to the Library
</a>

<a class="return" href="/forest/eye/church">
    Return to the Church
</a>

<script src="/js/dialogue.js"></script>
<script src="/js/billboard.js"></script>
<script src="/js/util/foldable.js"></script>
<script>
    //yard
    <%- include("./harvest.js"); %>
    let harvestGame = new HarvestGame();



    //livingroom
    let livingroom = new Foldable($(".livingroom>article"));
    const openCloset = function openCloset() {
        $(".closet .door").addClass("invisible");
    };



    //layla widgets
    let lSkills, lToDo, lRecipes = null;
    let toyBox = new Foldable($(".toy-box article"));
    let laylasRoom = new Foldable($(".laylas-room>article"));

    base.load("bb-layla-skills").then((res) => { lSkills = new Billboard("layla-skills", res.items, { onSave: "save-layla" }); });

    $(".pocket").on("click", function() { $(".pocket").toggleClass("pocket-down"); });
    $(".background-changer").hover(function() { $(".background-changer").toggleClass("red-bg"); });
    $(".beautiful-button").hover(function() { $(".beautiful-background").toggleClass("red-bg"); });
    $(".beautiful-button").on("mousedown", function() { $(".beautiful-icon").addClass("beautiful-icon-pressed"); });
    $(".beautiful-button").on("mouseup", function() { $(".beautiful-icon").removeClass("beautiful-icon-pressed"); });



    //upstairs widgets
    let upstairs = new Foldable($(".upstairs>article"));
    
    let monthFolder = new Foldable($(".upstairs .month>article"));
    let yearFolder = new Foldable($(".upstairs .year>article"));

    let now = new Date();
    const weekday = ["Sunday", "Monday"," Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    $(".today .date").text(`${weekday[now.getDay()]}: ${now.toLocaleDateString()}`);

    $.get(`https://api.weather.gov/points/46.7253,-122.9534`, (data) => {
        if (data.properties.forecast) $.get(data.properties.forecast, (data) => {
            let current = data.properties.periods[0];
            $(".week .day#0 .weather").text(`${current.name}: ${current.temperature} °F, ${current.shortForecast}, ${current.windSpeed}`);
        });
    });

    <%- include("./agenda.js"); %>
    const upstairsAgenda = new Agenda("upstairs");

    let today, week, month, year = null;
    //base.load("todo-today").then((res) => { today = new Billboard("today", res.items, { onSave: "save-todo" }); });
    // base.load("todo-week").then((res) => { week = new Billboard("week", res.items, { onSave: "save-todo" }); });
    // base.load("todo-month").then((res) => { month = new Billboard("month", res.items, { onSave: "save-todo" }); });
    // base.load("todo-year").then((res) => { year = new Billboard("year", res.items, { onSave: "save-todo" }); });

    <%- include("./wallet.js") %>
</script>