<style>
    <%- include("./index.css"); %>
    <%- include("./wallet.css"); %>
    <%- include("./agenda.css"); %>
</style>
<link rel="stylesheet" href="/styles/browser.css">
<link rel="stylesheet" href="/styles/billboard.css">

<section class="floatables agenda" id="upstairs"></section>

<hr>

<a class="return" href="/forest/eye/filter/living-room">
    Exit Wyatt's Room
</a>

<script src="/js/dialogue.js"></script>
<script src="/js/billboard.js"></script>
<script src="/js/util/browser.js"></script>
<script src="/js/util/weather.js"></script>
<script src="/js/entity.js"></script>
<script src="/js/floatable.js"></script>
<script>
    const weather = new WeatherSystem();

    <%- include("./agenda.js"); %>
    const upstairsAgenda = new Agenda("upstairs");

    <%- include("./wallet.js") %>

    const floatBoard = new FloatBoard();
</script>