<style>
    <%- include("../styles/the-front.css"); %>
    <%- include("../styles/keeper.css"); %>
    <%- include("../styles/borders.css"); %>
</style>

<p>
    A small shack, just large enough for a door,
    a window and a person. At this time, it is empty.
</p>

<hr>

<div class="shack">
    <div class="dialogue" id="keeper">
        <div class="frame">
            <img src="/img/npcs/anon.png" class="portrait">
        </div>
        <div class="heart"></div>
        <div class="content">
            
        </div>
    </div>

    <div class="counter">
        <div class="clipboard on-counter for-login">
            <button class="close">X</button>
            <div class="application">
                <div class="auth-form" id="login-form">
                    <h1>NotherBase</h1>
                    <h3>Login to Your Account</h3>
                    <input type="email" name="email" placeholder="e@mail.com" id="login-email">
                    <input type="password" name="password" placeholder="password" id="login-pass">
                    <button id="login-button">Login</button>
                    <button class="subtle" id="change-button">Change Your Password</button>
                    <p id="login-info"></p>
                </div>
                <div class="auth-form invisible" id="reset-form">
                    <h1>NotherBase</h1>
                    <h3>Reset Your Password</h3>
                    <input type="email" name="email" placeholder="e@mail.com" id="reset-email">
                    <button id="reset-button">Send Reset Code to Your Email</button>
                    <button class="subtle return-button">Return to Login</button>
                    <p id="reset-info"></p>
                </div>
                <div class="auth-form invisible" id="set-form">
                    <h1>NotherBase</h1>
                    <h3>Change Your Password</h3>
                    <p>A reset code was sent to your email. Submit that with your new password below.</p>
                    <input type="number" name="token" placeholder="0000" id="change-token">
                    <input type="password" name="password" placeholder="new password" id="change-password">
                    <input type="password" name="confirmation" placeholder="new password again" id="change-confirmation">
                    <button id="set-button">Set New Password</button>
                    <button class="subtle return-button">Return to Login</button>
                    <p id="set-info"></p>
                </div>
            </div>
            <div ></div>
            <div class="clamp"></div>
            <div class="scribbles" id="login-scribbles">Login<br><br>If you can read this you're a nerd.</div>
        </div>

        <div class="clipboard on-counter for-register">
            <button class="close">X</button>
            <div class="application">
                <div class="auth-form" id="register-form">
                    <h1>NotherBase</h1>
                    <h3>Register a New Account</h3>
                    <input type="email" name="email" placeholder="e@mail.com" id="register-email">
                    <input type="text" name="username" placeholder="username" id="register-user">
                    <input type="password" name="password" placeholder="password" id="register-pass">
                    <input type="password" name="confirmation" placeholder="password again" id="register-confirmation">
                    <button id="register-button">Register</button>
                    <p id="register-info"></p>
                </div>
            </div>
            <div class="clamp"></div>
            <div class="scribbles" id="register-scribbles">Register<br><br>If you can read this you're a nerd.</div>
        </div>
    </div>
</div>

<hr>

<a class="to gate" href="/the-front/gate">
    Go to the Fence Gate
</a>

<hr>

<a class="return" href="/the-front">
    Back Away
</a>

<script src="/js/dialogue.js"></script>
<script>
    <%- include("../local-scripts/clipboards.js"); %>
    <%- include("../local-scripts/keeper.js"); %>
</script>